{% extends 'base.html' %} 
{% block title %} Home page {% endblock title %}
{% block home %}active{%endblock %}

{% block bottom %}
  fixed-bottom
{% endblock %}
  
{% block content %} 
{% load static %}

<style>
  #body {
   background-image: url("{% static 'images/tiffine-service.webp' %}");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-set-1 {

background:transparent;
box-shadow: 5px 5px 16px 10px rgba(130, 124, 110, .25);
border-radius: 39% 28% 64% 20% / 28% 16% 57% 66%;
}
.bg-set-1 img{
object-fit: scale-down;
}


</style>
  
  <link rel="stylesheet" href="{% static 'css/index_up.css' %}?{% now 'U' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

<div class="center-div"id="body">
  
  <div class="container row hero-text align-center justify-content-center  center-div" >
    <div class="col-md-6 ">
      <h1 class="text-center text-white float-right text-success text-shadow"><strong>Feeling hungry...</strong></h1>
      <h4 class="text-white text-center  text-shadow">
        Order with us and get delicius food on your door step Worm, Fresh, Fast
        delivery.
      </h4>

      <div class="container-fluid ">
        <div class="d-flex justify-content-around justify-content-sm-around">
          <a href="{% url 'menu' %}">
            <button
              type="link"
              class="btn border-0 order-btn bg-warning d-inline-block shadow">
              Order Here
            </button></a>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="row p-1 mt-5 justify-content-center  justify-content-md-around position-relative">
        
          <div class=" col-md-5 col-sm-12 order-last m-1 bg-light  p-2  bg-set-1 overflow-hidden">
            <img class="img-thumbnail border-0 shadow-none" src="../static/images/tiffine-boy.png" alt="" srcset="">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
