{% extends 'base.html' %} {% block content %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/index_up.css' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

<div class="">
  <img
  class="img-fluid bg-hero bg-gradient"
  src="{% static 'images/hero-image-food.jpg' %}"
  alt=""/>
  
  <div class="container hero-text align-center justify-content-center p-3">
    <h1 class="text-center text-white float-right text-success">Feeling hungry...</h1>
    <h4 class="text-white text-lg-center float-right text-shadow">
        Order with us and get delicius food on your door step Worm, Fresh, Fast
        delivery.
      </h4>
  
    <div class="container-fluid">
      <div class="d-flex justify-content-around justify-content-sm-around">
        <a href="{% url 'menu' %}">
          <button
            type="link"
            class="btn border-0 order-btn bg-warning d-inline-block shadow">
            Order Here
          </button></a>
      </div>
      
      <div
        class="row p-1 mt-5 justify-content-center justify-content-md-around">
        <div class=" col-md-5 col-sm-12 bg-transparent card order-first m-1 bg-opacity-50 border-success  border-5 p-2 shadow-lg">
          <p class="text-box text-shadow">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          inventore maxime rem fugiat odio sapiente tenetur laboriosam, dicta
          eos labore perferendis deleniti recusandae quos nemo totam est!
          Nostrum voluptates, deleniti, saepe mollitia ad corrupti animi fuga
          error sunt natus earum molestiae nihil dolorem voluptatibus? Natus
          voluptatibus facilis ipsa nulla adipisci.
          </p>
        </div>
        <div class=" col-md-5 col-sm-12 card order-last m-1 bg-transparent bg-opacity-50 border-success border-5 p-2 shadow-lg">
          <p class="text-box text-shadow">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          inventore maxime rem fugiat odio sapiente tenetur laboriosam, dicta
          eos labore perferendis deleniti recusandae quos nemo totam est!
          Nostrum voluptates, deleniti, saepe mollitia ad corrupti animi fuga
          error sunt natus earum molestiae nihil dolorem voluptatibus? Natus
          voluptatibus facilis ipsa nulla adipisci.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
