{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


<div class="">
  <img class="img-fluid bg-hero bg-gradient" src="{% static 'images/hero-image-food.jpg' %}" alt="">
  <div class="container hero-text align-center justify-content-center p-3">
    <h1 class="text-center text-white float-right">Feeling hungry...</h1>
    <h4 class= "text-white text-lg-center float-right">Order with us and get delicius food on your door step Worm, Fresh, Fast delivery.</h4>
    <div class="container-fluid">
      <div class="d-flex justify-content-around justify-content-sm-around">
        <a href="{% url 'menu' %}"> <button  type="link" class=" btn border-0 order-btn bg-warning d-inline-block shadow"> Order Here </button></a> 
        <!-- <button class=" btn border-0 order-btn bg-info d-inline-block"><a class="text-decoration-none order-btn" href="{% url 'menu' %}">Menu</a></button> -->
      </div>
      <div class="row p-1 mt-5 justify-content-center justify-content-md-around">
        <div class="col-md-5 col-sm-12 card order-first m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore maxime rem fugiat odio sapiente tenetur laboriosam, dicta eos labore perferendis deleniti recusandae quos nemo totam est! Nostrum voluptates, deleniti, saepe mollitia ad corrupti animi fuga error sunt natus earum molestiae nihil dolorem voluptatibus? Natus voluptatibus facilis ipsa nulla adipisci.</div>
        <div class="col-md-5 col-sm-12 card order-last m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eligendi error distinctio repellendus incidunt veritatis numquam libero iure? In dignissimos aliquam molestias, tempora corrupti voluptate enim similique quis vero mollitia officia sunt incidunt, eveniet minus officiis nam labore explicabo quibusdam laudantium provident iure. Ad expedita, placeat consectetur veritatis adipisci quidem?</div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}