{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% block title %} menu {% endblock title %}

<link rel="stylesheet" href="{% static 'css/menu.css' %}" />

<div class="container">
  <a href="{% url 'payment-checkout' %}" class="float">
    <i class="fa my-float">Place place</i> <!--fa fa-plus-->
    </a>
  <div
    id="carouselExampleIndicators"
    class="carousel slide mt-3"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner h-50">
      <div class="carousel-item active carousel_cls">
        <img
          src="{% static 'images/dish_1.jpg' %}"
          height="300px"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item carousel_cl">
        <img
          src="{% static 'images/dish_2.jpg' %}"
          height="300px"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item carousel_cl">
        <img
          src="{% static 'images/dish_3.jpg' %}"
          height="300px"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-flex justify-content-center p-1 mt-3">
    <ul class="d-flex justify-content-evenly">
      <li class="list-inline-item">
        <a href="{% url 'menu' 'all' %}" class="text-decoration-none">
          <img src="{% static 'images/menu.gif' %}" alt="">
           <span class="text-black">All </span> <span> |</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'menu' 'non_veg' %}" class="text-decoration-none" id="non_veg_id" >
          <img src="{% static 'images/menu.gif' %}" alt="">
          <span value="non_vag" id="type_non" class="text-black">Non veg </span> <span> |</span>
        </a> 
      </li>
      <li class="list-inline-item">
        <a href="{% url 'menu' 'veg' %}" class="text-decoration-none" value="veg" id="veg_id">
          <img src="{% static 'images/pizza.gif' %}" alt="">
          <span class="text-black">Veg</span>
        </a>
      </li>
    </ul>
  </div>
  <hr />
  <!-- <div class="col-sm-8"> -->
    <div class="d-flex justify-content-center row p-3">
      {% for items in menu_model %}
      <div
        class="col-sm-12 col-md-3 m-2 float-left card shadow  mb-2 p-1"
        >
        <img src="{{items.image.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            {{ items.name }}
                    
            <input type="hidden" value="{{items.id}}" id="input{{items.id}}" />
            <a class="float-end" id="fav{{items.id}}">
              <div class="border-fav p-2">
                <svg
                  id="fav-icon{{items.id}}"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                
                  {% for favotive in fav %}
                      {% if favotive.dish_name.id == items.id %}
                        fill="red"
                      {% endif %}
                      fir=""
                  {% endfor %}           
                  
                  height="16"
                  class="bi bi-bookmark-heart-fill"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
                  />
                </svg>
              </div>
            </a>
          </h5>
          <p class="card-text">{{items.deatil}}</p>
          <a href="{% url 'deatail-view' items.id %}" class="btn btn-outline-info bg-gradient"
            >View Deatil</a>

            <button data="hello" class="btn btn-primary bg-gradient" id='add-dabba{{items.id}}'>
            {% for cart in is_cart %}
              {% if cart.item.id == items.id %}
                Added
              {% else %}
                Cart
              {% endif %}
            {% endfor %} 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg></button>

        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
      
      <script>
        
          $("#fav{{items.id}}").click(function() {
            let prod_id = $("#input{{items.id}}").val();
            _id = { item_id: prod_id };

            $.ajax({
              url: '{% url "add-favorite" %}',
              method: "GET",
              data: _id,
              dataType: "json",
              success: function (data) {
                if (data.status == "Save") {
                  $("#fav-icon{{items.id}}").attr("fill", data.data_coming);
                }

                if (data.status == "Deleted") {
                  $("#fav-icon{{items.id}}").attr("fill", data.data_coming);
                }
              },
            });
          });

          $('#add-dabba{{items.id}}').click(function(){
            let prod_id = $("#input{{items.id}}").val();

            id = {
              dish_id : prod_id
            }
            $.ajax({
              url : "{% url 'Add_to_dabba' %}",
              method : 'GET',
              data : id,
              dataType : 'json',
              success : function(data){
                if(data.status == 'delete'){
                  $('#add-dabba{{items.id}}').html('')
                  $('#add-dabba{{items.id}}').html(data.is_cart)
                };
                if (data.status == 'save'){
                  $('#add-dabba{{items.id}}').html('')
                  $('#add-dabba{{items.id}}').html(data.is_cart)
                  
                }
              }
            })
          })
      </script>
      {% endfor %}
    </div>
  <!-- </div> -->
</div>
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}
