{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/payment_check.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
<div class="container mt-4" >
    <div class="row border shadow m-1 p-3 ">
            <h4> Order summury </h4> 


            <div class="row">
            {% for cart in dish_instance %}
                    <div class="col-sm-12 col-md-6 ">
                        <div class="card mb-2">
                            <div class="card-body card-color rounded-1 ">
                                <a href="#" class="btn-close get_id float-end" id="del-cart" data-sid="{{cart.id}}"></a>
                                <h5 class="card-title">{{cart.item.name}}</h5>
                                <p class="card-text">{{cart.item.deatil}}</p>
                                <a href="#" class="btn btn-danger">&#x20B9; : {{cart.item.discounted}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>

    </div>

    <div class = "row border shadow m-1 p-1 mt-4 ">
        <div class = "col  bg-info bg-opacity-25">
            <h4 > Payment summury </h4>
            <div class="col p-1">
                <h6>Total Amount : <strong>350</strong></h6>
                <h6>Delivery charges : <strong>Free</strong></h6>
                <h6>Discount : <strong>50</strong></h6>
                <hr>
                <h6>Grand Total : <strong>350</strong></h6>
                <p></p>
                <button class="btn btn-warning " type="button">Pay Online</button>
                <button class="btn btn-success " type="button">Pay Cash</button>
                <p class="d-inline opacity-25  ">* T & C Apply</p>
            </div> 
        </div>
    </div>
</div>
  
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('.get_id').on('click', function(){
        let get_id = $(this).attr('data-sid')
        data_obj = {
            id : get_id
        }
        this_obj = this
        $.ajax({
// need to make delete url path amd its view
        })
    })
</script>
{% endblock %}
