* {
  font-family: "Arimo", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.index {
  z-index: 1;
}

#body {
  width: 100vw;
  min-height: 100vw;
  background:linear-gradient(
    to bottom right,
    #38FBEF, #5BAFFC, #4eacc1 100%
  );
}
