.carousel .item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.carousel_cls {
  height: 300px;
  width: 100;
  overflow: hidden;
}

.bg_card {
  background-color: cornflowerblue;
}

.border-fav {
  border: none;
  background: rgba(155, 155, 155, 0.287);
}

* {
  padding: 0;
  margin: 0;
}

.float {
  position: fixed;
  /* width: 60px; */
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
  box-shadow: 2px 2px 3px #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.my-float {
  margin-top: 22px;
}

.float:focus {
  transform: scale(1.1);
  bottom: 45px;
  /* -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
}

.float:hover {
  transform: translateY(-8px);
  box-shadow: 2px 8px 10px black;
  color: white;
}

.float-x:hover {
  transform: translateY(-8px);
  box-shadow: 2px 8px 15px black;
  transition: 0.3s ease-in-out;
}
.float-x {
  transition: 0.3s ease-in-out;
}

.float-fav {
  bottom: 112px;
  border-radius: 100px;
  text-align: center;
  height: 36px;
}
